.hero {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 350px;
    margin: auto;

}

.formWrapper {
    padding-bottom: 1.5rem;
}


.formFields {
    margin-top:1rem;
}

.loginWithFacebook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #0395F6;
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
}

.forgotPassword {
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin: auto;

    &:hover {
        text-decoration: underline;
    }
}

.formSibling {
    display: flex;
    justify-content: center;
    gap: .3rem;
}

.footer{
margin-top: 8.5rem;
}