
.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.btnBase {
    color: white;
    background-color: var(--clr-button-600);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: .5rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
    border-radius: 10px;

    &:hover {
        background-color: var(--clr-button-800-focused);
    }
}


.hero {
    padding-top: .8rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 350px;
    margin: auto;


    a {
        color: var(--clr-anchor-600);

        &:hover {
            color: var(--clr-anchor-800-focused);
        }
    }

}



.formWrapper {
    padding: 2rem 2.5rem 3rem 2.5rem;
    border: 1px solid var(--clr-border-800);
    color: var(--clr-neutral-600);
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    /* border: 2px solid aqua; */

    >h1 {
        width: 190px;
        margin: auto;
    }

}

.formHeading {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    translate: 0 -20%
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: .45rem;
}

.lineBreakWrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    font-size: 13px;

    >div {
        height: .5px;
        flex: 1;
        background-color: var(--clr-border-800);
    }
}

.formSibling {
    border: 1px solid var(--clr-border-800);
    text-align: center;
    font-size: 14px;
    padding: 1.5rem 2.5rem;

    a {
        font-weight: 600;
        color: var(--clr-anchor-600);

        &:hover {
            color: var(--clr-anchor-800-focused);
        }
    }
}

.footer {
    margin-top: 3.8rem;
}