#root {
    width: min(100%, 1920px);
    height: 100%;
    margin: auto;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 90%);
}
:root{
    --clr-neutral-600:#A8A8A8;
    --clr-neutral-800:#121212;

    --clr-border-600:#7b7979;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input,
button,a {
    all: unset;
}
ul{
    list-style:none;
}

button,a {
    cursor: pointer;
}

body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 0%, 0%);
    -webkit-font-smoothing:subpixel-antialiased;
}