#root {
    width: min(100%, 1920px);
    height: 100%;
    margin: auto;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 90%);
}

:root {
    --clr-neutral-600: #A8A8A8;
    --clr-neutral-800: #121212;

    --clr-border-600: #7b7979;
    --clr-border-700: #5f5d5d;
    --clr-border-800: #414040;

    --clr-error-600: #FF3040;

    --clr-button-600: #4A5DF9;
    --clr-button-800-focused: #4150F7;

    --clr-anchor-600: #708DFF;
    --clr-anchor-800-focused: #5374f7;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
img,video,canvas{
    display: block;
    max-width: 100%;
}


input,
button,
a {
    all: unset;
}

ul {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

body {
    height: 100vh;
    line-height: 1.2;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 0%, 0%);
}