*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    all: unset;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    background-color: hsl(0,0%,10%);
    color: hsl(0,0%,90%);
}