.inputWrapper {
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;

}

.textFieldWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-neutral-800);
    border: 1px solid var(--clr-border-700);
    border-radius: 2px;

    &:focus-within {
        .placeholder {
            font-size: 10px;
            top: .6rem;
        }
    }

    .textField:not(:placeholder-shown)+.placeholder {
        font-size: 10px;
        top: .6rem;
    }
}

.errorBorder {
    border-color: var(--clr-error-600);
}

.placeholder {
    position: absolute;
    color: var(--clr-neutral-600);
    left: .6rem;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 12px;
    transition: all .2s ease-in-out;
    pointer-events: none;

}

.textField {
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    padding: 1rem .8rem .4rem .6rem;
    width: 100%;

    &::placeholder {
        visibility: hidden;
    }
}

.error {
    color: var(--clr-error-600);
    margin-bottom: .5rem;
    font-size: 10px;
    padding-left: .6rem;
}