.loadingPageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.instaLogo {
    width: 60px;

}

.footer {
    padding: 1.5rem;

    p {
        color: grey;
        text-align: center;
    }
}

.metaLogo {
    width: 100px;
    margin: auto;
}


/* Loading Bar */
.loadingBar {
    background: #FEDA75;
    background: linear-gradient(315deg, rgba(254, 218, 117, 1) 0%, rgba(250, 126, 30, 1) 25%, rgba(214, 41, 118, 1) 50%, rgba(150, 47, 191, 1) 75%, rgba(79, 91, 213, 1) 100%);

    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 4px;
    z-index: 999;
    transition: all 2s ease-in-out;

}
.loadingAnimation{
    left: 0 !important;
}