.mainLayoutWrapper {
    height: 100%;
}

.main {
    width: calc(100% - 220px - 1.6rem);
    margin-left: auto;
    height: 100%;
    overflow-y: auto;


    >*:first-child {
        padding-top: 1.5rem;
        max-width: 935px;
        margin: auto;
    }
}

@media(width>1920px){
    .main{
        width: calc(100% - 314px - 1.6rem);
    }
}