footer {
    border: 2px solid green;
    font-size: 12px;
    color: var(--clr-neutral-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footerLinks {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    a&:hover {
        text-decoration: underline;
    }
}

.footerBottomWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.langSelect {
    background-color: black;
    color: var(--clr-neutral-600);
    font: inherit;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }
}