.sidebarWrapper {
    padding: 1.5rem .8rem;
    border-right: 1.5px solid var(--clr-border-900);
    width: 245px;
}

.sidebar {
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.instaLogo {
    width: 120px;
    padding-left: .6rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.listItem {
    height: 48px;
    display: flex;
    border-radius: 5px;
    padding: .8em .5em .8em .8em;
    cursor: pointer;
    transition: all .2s linear;
}

.listItem:hover {
    background-color: hsl(0,0%,10%);
}

.listItem>* {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: .7rem;

    img {
        width: 28px;
    }
}