.sidebarWrapper {
    padding: 1.5rem .8rem;
    border-right: 1.5px solid var(--clr-border-900);

    
    display: flex;
    border: 1px solid aqua;
}

.sidebar {
    transition: all .3s ease-in-out;
    width: 245px;
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .logoWrapper {
        padding-left: .8rem;
        height: 38px;
        display: flex;
        align-items: center;
        position: relative;
    }
}

.instaWordmark {
    height: 100%;
}

.instaLogo {
    position: absolute;
    margin-left: .15rem;
    width: 0px;
    transition: all .25s ease-in-out;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.listItem {
    height: 48px;
    display: flex;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s linear;
}

.listItem:hover {
    background-color: hsl(0, 0%, 10%);
}

.listItem:active {
    transition: none;
    scale: .98;
}

.listItem>* {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: .8em .5em .8em .8em;
    gap: .7rem;


    >div {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
    }

    img {
        width: 24px;
    }
}

.activeListItem {
    font-weight: 700;
    filter: brightness(1.1);
}

/* Search Button */
.sidebarWrapper:has(.searchBtn:focus-within) {
.sidebar{
    width: calc(80px - 1.6rem);
}
    border: none;

    .listItemText,
    .instaWordmark {
        display: none;
    }

    .instaLogo {
        width: 22px;
    }
}



/* Create New Post */
.createNewPost {
    position: absolute;
    z-index: 999;
    inset: 0;
    padding: 1rem;
    backdrop-filter: brightness(0.3);

    /* display: flex; */
    display: none;
    flex-direction: column;


    .closeIcon {
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            scale: 1.05;
        }
    }

    .dialogBoxWrapper {
        flex-grow: 1;
        display: grid;
        place-content: center;
    }

    .dialogBox {
        width: min(620px, 90vw);
        height: min(750px, 80vh);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 30px;
        overflow: hidden;



        >div {
            font-weight: 600;
            background-color: black;
            padding: .5em 1.5em;
            border-bottom: .1px solid var(--clr-border-800);


            display: flex;
            justify-content: space-between;



            p {
                flex-grow: 1;
                justify-content: center;
                text-align: center;
                margin: auto;
            }

            >* {
                flex-basis: 50px;
                display: flex;
                align-items: center;
            }
        }

        .uploadFile {
            color: var(--clr-primary-600);
            font-size: 14px;
            justify-content: end;
        }


        .previewContent {
            flex-grow: 1;
            /* ###Come back here and make it better for diff aspect ratios */
            object-fit: cover;
            width: 100%;
            background-color: var(--clr-neutral-800);


        }

        >section {
            flex-grow: 1;
            display: grid;
            place-content: center;
            place-items: center;
            gap: 1rem;
            background-color: var(--clr-neutral-750);
            padding: 2rem;


            >img {
                width: 100px;
            }

            >p {
                font-size: 1.2rem;
                margin-bottom: .2rem;
            }
        }
    }
}

.selectFile {
    color: white;
    background-color: var(--clr-button-600);
    font-size: 14px;
    gap: .5rem;
    font-weight: 600;
    border-radius: 10px;


    input {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
        padding: .5rem 1.2rem;

    }



    &:hover {
        background-color: var(--clr-button-800-focused);
    }
}