.hero {
    height: 400px;
    display: flex;
    flex-direction: column;

}

.profile {
    display: flex;
    padding-top: 2rem;

}


.avatarArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4.8rem;
}

.avatarWrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    label {
        position: absolute;
        color: red;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        cursor: pointer;
    }
}


.profileCamIcon {
    position: absolute;
    background-color: rgba(82, 81, 81, 0.718);
    width: 100%;
    height: 100%;
    padding: 3.3rem;
    pointer-events: none;
}

.avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profileData {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profileDataHeader {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    >span:first-child {
        font-size: 1.2rem;
    }
}

.profileRelatedBtns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.darkBtnBase {
    background-color: var(--clr-neutral-700);
    border-radius: 10px;
    font-size: 14.5px;
    font-weight: 600;
    padding: .5em 1em;
    transition: all .15s linear;

    &:hover {
        background-color: var(--clr-neutral-700-hover);
    }
}

.settings:hover {
    scale: 1.05;
    transition: all .15s ease-in-out;
}


.metricsCount {
    display: flex;
    gap: 2.3rem;

    >span {
        display: flex;
        gap: .2rem;

        >span:first-child {
            font-weight: 600;
        }

        >span:last-child {
            color: var(--clr-neutral-600);
        }
    }

}

.fullName {
    font-weight: 600;
    font-size: 14px;
    padding-block: .5rem;
}

.heroBottom {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;

    >div {
        display: grid;
        gap: .5rem;
        place-items: center;
        font-size: 12px;
        font-weight: 600;
    }
}

.createNewPostWrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3.5px solid var(--clr-border-800);
    padding: 3.5px;
    cursor: pointer;
}

.createNewPost {
    border-radius: 50%;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--clr-neutral-800);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Below Hero */

.mainContentNav {
    border-bottom: .1px solid var(--clr-border-900);

    >div {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 50%;
    }

    .notAdmin {
        max-width: 30%;
    }
}

.navLink {
    padding: .5rem 1.2rem;
    color: grey;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.selected {
    border-color: white;
    color: white;
}

.mainContent {
    padding-top: .5rem;
}


/* Posts */
.emptyPostsPlaceholder {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
    height: 320px;

    .camIconContainer {
        padding: .2rem;
        padding-bottom: .3rem;
        min-width: 60px;
        min-height: 60px;
        border: 1.5px solid;
        display: grid;
        place-content: center;
        border-radius: 50%;
    }

    h3 {
        font-weight: 800;
        font-size: 1.8rem;
    }

    p {
        font-size: 14px;
        max-width: 40ch;
        text-align: center;
    }

    button {
        color: var(--clr-primary-600);
        font-size: 14px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.posts {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: .1rem;
    row-gap: 1rem;
}

.post {
    height: 420px;
    color: black;
    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
    }
}

.post:hover>.postCommentsPreview {
    display: flex;
}

.postCommentsPreview {
    display: none;

    position: absolute;
    background: rgba(0, 0, 0, 0.665);
    inset: 0;

    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: white;
    font-weight: 800;

    >svg {
        fill: white;
    }

}

/* Follow Button */
.followBtn {
    background-color: var(--clr-button-600);

    &:hover {
        background-color: var(--clr-button-900-focused);
    }
}